$color-tdx-1: #3a4768; //header
$color-tdx-2: #2c3853; //margin
$color-tdx-3: #1d2b50; //footer1
$color-tdx-4: #121d39; //footer2
$color-tdx-5: #0c2b4d;
$color-tdx-6: #545e7a;
$color-tdx-7: #8794B7;

$color-danger: #dc3545;


$width-historyQuery-button: 240px;

